---
title: Document Name
name: World
---
<div data-floor="4">
  <button type="button" data-floor="4" data-direction="-1">down</button>
</div>

<div data-floor="3">
  <button type="button" data-floor="3" data-direction="1">up</button>
  <button type="button" data-floor="3" data-direction="-1">down</button>
</div>
<div data-floor="2">
  <button type="button" data-floor="2" data-direction="1">up</button>
  <button type="button" data-floor="2" data-direction="-1">down</button>
</div>
<div data-floor="1">
  <button type="button" data-floor="1" data-direction="1">up</button>
</div>
 <br>
 <br>
 <br>

 <div>
  <div data-floor="4">
    <button type="button" data-destination-floor="1">1</button>
  </div>
  <div data-floor="4">
    <button type="button" data-destination-floor="2">2</button>
  </div>
  <div data-floor="4">
    <button type="button" data-destination-floor="3">3</button>
  </div>
  <div data-floor="4">
    <button type="button" data-destination-floor="4">4</button>
  </div>
 </div>
